<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shop.bawei.com.moubao">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.WelcomeActivity"/>
        <activity android:name=".view.activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".view.activity.DetailsListActivity"/>
        <activity android:name=".view.activity.DetailsGoodActivity" />
        <activity android:name=".view.activity.GoodsWebViewActivity"/>
        <activity android:name=".view.activity.LoginActivity"/>
        <activity android:name=".view.activity.RegisterActivity"/>
        <activity android:name=".view.activity.LogoutActivity"/>
        <activity android:name=".view.activity.AddAddressActivity" />
        <activity android:name=".view.activity.ShopAddressActivity"/>
        <activity android:name=".view.activity.BuyActivity"/>
        <activity android:name=".view.activity.MyOrderActivity"/>
    </application>

</manifest>